<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary filterable table_border">
      <div class="panel-heading table_new">
        <h3 class="panel-title">成绩统计</h3>
      </div>
      <div class="panel-body table_border">
        <div class="row">
          <%= form_tag("/grades/stastics", method: "post") do %>
              <div class="form-group">
                <%= render 'grades/grade_select_form', info: @all_semester,
                           submit_name: "semester", name: "学期" %>
              </div>
              <button type="submit" class="btn btn_new">提交</button>
          <% end %>
        </div>
      </div>

      <div class="panel panel-primary filterable table_border_trans">
        <div class="table-responsive  ">
          <table class="table table-striped" id="curriculum_table">
            <tbody class="table_new">
            <tr>
              <th class="table_new">加权平均成绩：</th>
              <% if @total_credit!=0 %>
                  <th><%= @total_score/@total_credit %></th>
              <% end %>
            </tr>
            </tbody>
          </table>
        </div>
      </div>


      <%= render 'grades/grade_info_visualization' %>
    </div>
  </div>
</div>
</div>