<div class="panel panel-primary filterable table_border">
  <div class="panel-heading table_new">
    <h4 class="panel-title ">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseNotice">
        公告
      </a>
    </h4>
  </div>
  <div id="collapseNotice" class="panel-collapse collapse in">
    <div class="panel-body">

      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>标题</th>
            <th>内容</th>
            <th>时间</th>
          </tr>
          </thead>
          <tbody>
          <% @notice.each do |notice| %>
              <td><%= link_to notice.title, notice_url(notice) %></td>
              <td><%= notice.content %></td>
              <td><%= notice.created_at %></td>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

