<div class="container">
  <div class="row">
    <div class="panel panel-primary filterable">
      <div id="collapseNotice" class="panel-collapse collapse in">
        <div class="panel-body">
          <h3><%= @notice.title %></h3>
           <%= @notice.created_at.strftime('%Y-%m-%d %H:%M:%S') %></h4>
          <hr>
          <p><%= @notice.content %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>