<div class="container">
  <div class="row">
    <div id="notice_detail" class="panel panel-primary filterable">
      <div class="panel-body">
        <div class="notice_head">
          <h3><%= @notice.title %></h3>
              <span class="glyphicon glyphicon-calendar">
                <%= @notice.created_at.strftime('%Y年%m月%d日 %H:%M') %>
              </span>
              <span class="glyphicon glyphicon-user">
                管理员
              </span>
        </div>
        <p><%= @notice.content %></p>
      </div>
    </div>
  </div>
</div>
</div>