<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <%= render "shared/sidenav" %>

    </div>
    <div class="col-sm-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">评估课程: <%=@comment.course.name%></h3>
        </div>
        <div class="panel-body" style="min-height: 450px">
        
			<table class="table table-striped table-bordered table-advance table-hover">
					   <thead>
						   <tr>
							   <th>序号</th>
							   <th>评估内容</th>
							   <th>评分</th>
							</tr>
						</thead>
						<tbody>
						<tr>
								<th>1</th>
								<th>治学严整、言传身教</th>
								<td>
									<span style="margin-left: 20px"><input class="required" id="184_103" type="radio"  name="184" value="103"/><label for="184_103">优</label> </span>
									<span style="margin-left: 20px"><input class="required" id="184_104" type="radio"  name="184" value="104"/><label for="184_104">良</label> </span>
									<span style="margin-left: 20px"><input class="required" id="184_105" type="radio"  name="184" value="105"/><label for="184_105">合格</label> </span>
									<span style="margin-left: 20px"><input class="required" id="184_106" type="radio"  name="184" value="106"/><label for="184_106">差</label> </span>
									</td>
							</tr>
						<tr>
								<th>2</th>
								<th>备课充分，讲课认真</th>
								<td>
									<span style="margin-left: 20px"><input class="required" id="185_103" type="radio"  name="185" value="103"/><label for="185_103">优</label> </span>
									<span style="margin-left: 20px"><input class="required" id="185_104" type="radio"  name="185" value="104"/><label for="185_104">良</label> </span>
									<span style="margin-left: 20px"><input class="required" id="185_105" type="radio"  name="185" value="105"/><label for="185_105">合格</label> </span>
									<span style="margin-left: 20px"><input class="required" id="185_106" type="radio"  name="185" value="106"/><label for="185_106">差</label> </span>
									</td>
							</tr>
						<tr>
								<th>3</th>
								<th>仪装端庄，精神饱满 </th>
								<td>
									<span style="margin-left: 20px"><input class="required" id="186_103" type="radio"  name="186" value="103"/><label for="186_103">优</label> </span>
									<span style="margin-left: 20px"><input class="required" id="186_104" type="radio"  name="186" value="104"/><label for="186_104">良</label> </span>
									<span style="margin-left: 20px"><input class="required" id="186_105" type="radio"  name="186" value="105"/><label for="186_105">合格</label> </span>
									<span style="margin-left: 20px"><input class="required" id="186_106" type="radio"  name="186" value="106"/><label for="186_106">差</label> </span>
									</td>
							</tr>
						<tr>
								<th>4</th>
								<th>虚心听取意见，积极改进教学</th>
								<td>
									<span style="margin-left: 20px"><input class="required" id="187_103" type="radio"  name="187" value="103"/><label for="187_103">优</label> </span>
									<span style="margin-left: 20px"><input class="required" id="187_104" type="radio"  name="187" value="104"/><label for="187_104">良</label> </span>
									<span style="margin-left: 20px"><input class="required" id="187_105" type="radio"  name="187" value="105"/><label for="187_105">合格</label> </span>
									<span style="margin-left: 20px"><input class="required" id="187_106" type="radio"  name="187" value="106"/><label for="187_106">差</label> </span>
									</td>
							</tr>
						<tr>
								<th>5</th>
								<th>无调课、停课、替讲现象</th>
								<td>
									<span style="margin-left: 20px"><input class="required" id="188_103" type="radio"  name="188" value="103"/><label for="188_103">优</label> </span>
									<span style="margin-left: 20px"><input class="required" id="188_104" type="radio"  name="188" value="104"/><label for="188_104">良</label> </span>
									<span style="margin-left: 20px"><input class="required" id="188_105" type="radio"  name="188" value="105"/><label for="188_105">合格</label> </span>
									<span style="margin-left: 20px"><input class="required" id="188_106" type="radio"  name="188" value="106"/><label for="188_106">差</label> </span>
									</td>
							</tr>
						<tr>
								<th>6</th>
								<th>教学内容基本符合教学大纲要求</th>
								<td>
									<span style="margin-left: 20px"><input class="required" id="189_103" type="radio"  name="189" value="103"/><label for="189_103">优</label> </span>
									<span style="margin-left: 20px"><input class="required" id="189_104" type="radio"  name="189" value="104"/><label for="189_104">良</label> </span>
									<span style="margin-left: 20px"><input class="required" id="189_105" type="radio"  name="189" value="105"/><label for="189_105">合格</label> </span>
									<span style="margin-left: 20px"><input class="required" id="189_106" type="radio"  name="189" value="106"/><label for="189_106">差</label> </span>
									</td>
							</tr>
						<tr>
								<th>7</th>
								<th>讲授思路清晰，概念清楚</th>
								<td>
									<span style="margin-left: 20px"><input class="required" id="190_103" type="radio"  name="190" value="103"/><label for="190_103">优</label> </span>
									<span style="margin-left: 20px"><input class="required" id="190_104" type="radio"  name="190" value="104"/><label for="190_104">良</label> </span>
									<span style="margin-left: 20px"><input class="required" id="190_105" type="radio"  name="190" value="105"/><label for="190_105">合格</label> </span>
									<span style="margin-left: 20px"><input class="required" id="190_106" type="radio"  name="190" value="106"/><label for="190_106">差</label> </span>
									</td>
							</tr>
						<tr>
								<th>8</th>
								<th>课程特色鲜明，内容取舍合理，组织严密，逻辑性强</th>
								<td>
									<span style="margin-left: 20px"><input class="required" id="191_103" type="radio"  name="191" value="103"/><label for="191_103">优</label> </span>
									<span style="margin-left: 20px"><input class="required" id="191_104" type="radio"  name="191" value="104"/><label for="191_104">良</label> </span>
									<span style="margin-left: 20px"><input class="required" id="191_105" type="radio"  name="191" value="105"/><label for="191_105">合格</label> </span>
									<span style="margin-left: 20px"><input class="required" id="191_106" type="radio"  name="191" value="106"/><label for="191_106">差</label> </span>
									</td>
							</tr>
						<tr>
								<th>9</th>
								<th>重点突出，难点讲解清楚</th>
								<td>
									<span style="margin-left: 20px"><input class="required" id="192_103" type="radio"  name="192" value="103"/><label for="192_103">优</label> </span>
									<span style="margin-left: 20px"><input class="required" id="192_104" type="radio"  name="192" value="104"/><label for="192_104">良</label> </span>
									<span style="margin-left: 20px"><input class="required" id="192_105" type="radio"  name="192" value="105"/><label for="192_105">合格</label> </span>
									<span style="margin-left: 20px"><input class="required" id="192_106" type="radio"  name="192" value="106"/><label for="192_106">差</label> </span>
									</td>
							</tr>
						<tr>
								<th>10</th>
								<th>拓展学生知识面，培养分析能力，引导创新</th>
								<td>
									<span style="margin-left: 20px"><input class="required" id="193_103" type="radio"  name="193" value="103"/><label for="193_103">优</label> </span>
									<span style="margin-left: 20px"><input class="required" id="193_104" type="radio"  name="193" value="104"/><label for="193_104">良</label> </span>
									<span style="margin-left: 20px"><input class="required" id="193_105" type="radio"  name="193" value="105"/><label for="193_105">合格</label> </span>
									<span style="margin-left: 20px"><input class="required" id="193_106" type="radio"  name="193" value="106"/><label for="193_106">差</label> </span>
									</td>
							</tr>
						<tr>
								<th>11</th>
								<th>因材施教，教学相长</th>
								<td>
									<span style="margin-left: 20px"><input class="required" id="194_103" type="radio"  name="194" value="103"/><label for="194_103">优</label> </span>
									<span style="margin-left: 20px"><input class="required" id="194_104" type="radio"  name="194" value="104"/><label for="194_104">良</label> </span>
									<span style="margin-left: 20px"><input class="required" id="194_105" type="radio"  name="194" value="105"/><label for="194_105">合格</label> </span>
									<span style="margin-left: 20px"><input class="required" id="194_106" type="radio"  name="194" value="106"/><label for="194_106">差</label> </span>
									</td>
							</tr>
						<tr>
								<th>12</th>
								<th>注重学生能力培养，合理配置作业</th>
								<td>
									<span style="margin-left: 20px"><input class="required" id="195_103" type="radio"  name="195" value="103"/><label for="195_103">优</label> </span>
									<span style="margin-left: 20px"><input class="required" id="195_104" type="radio"  name="195" value="104"/><label for="195_104">良</label> </span>
									<span style="margin-left: 20px"><input class="required" id="195_105" type="radio"  name="195" value="105"/><label for="195_105">合格</label> </span>
									<span style="margin-left: 20px"><input class="required" id="195_106" type="radio"  name="195" value="106"/><label for="195_106">差</label> </span>
									</td>
							</tr>
						<tr>
								<th>13</th>
								<th>答疑</th>
								<td>
									<span style="margin-left: 20px"><input class="required" id="198_103" type="radio"  name="198" value="103"/><label for="198_103">优</label> </span>
									<span style="margin-left: 20px"><input class="required" id="198_104" type="radio"  name="198" value="104"/><label for="198_104">良</label> </span>
									<span style="margin-left: 20px"><input class="required" id="198_105" type="radio"  name="198" value="105"/><label for="198_105">合格</label> </span>
									<span style="margin-left: 20px"><input class="required" id="198_106" type="radio"  name="198" value="106"/><label for="198_106">差</label> </span>
									</td>
							</tr>
						<tr>
								<th>14</th>
								<th>课堂互动</th>
								<td>
									<span style="margin-left: 20px"><input class="required" id="199_103" type="radio"  name="199" value="103"/><label for="199_103">优</label> </span>
									<span style="margin-left: 20px"><input class="required" id="199_104" type="radio"  name="199" value="104"/><label for="199_104">良</label> </span>
									<span style="margin-left: 20px"><input class="required" id="199_105" type="radio"  name="199" value="105"/><label for="199_105">合格</label> </span>
									<span style="margin-left: 20px"><input class="required" id="199_106" type="radio"  name="199" value="106"/><label for="199_106">差</label> </span>
									</td>
							</tr>
						<tr>
								<th>15</th>
								<th>有启发，学习能力明显提高</th>
								<td>
									<span style="margin-left: 20px"><input class="required" id="200_103" type="radio"  name="200" value="103"/><label for="200_103">优</label> </span>
									<span style="margin-left: 20px"><input class="required" id="200_104" type="radio"  name="200" value="104"/><label for="200_104">良</label> </span>
									<span style="margin-left: 20px"><input class="required" id="200_105" type="radio"  name="200" value="105"/><label for="200_105">合格</label> </span>
									<span style="margin-left: 20px"><input class="required" id="200_106" type="radio"  name="200" value="106"/><label for="200_106">差</label> </span>
									</td>
							</tr>
						<tr>
								<th>16</th>
								<th>教学有吸引力，学生能够掌握或理解大部分教学内容</th>
								<td>
									<span style="margin-left: 20px"><input class="required" id="196_103" type="radio"  name="196" value="103"/><label for="196_103">优</label> </span>
									<span style="margin-left: 20px"><input class="required" id="196_104" type="radio"  name="196" value="104"/><label for="196_104">良</label> </span>
									<span style="margin-left: 20px"><input class="required" id="196_105" type="radio"  name="196" value="105"/><label for="196_105">合格</label> </span>
									<span style="margin-left: 20px"><input class="required" id="196_106" type="radio"  name="196" value="106"/><label for="196_106">差</label> </span>
									</td>
							</tr>
						<tr>
								<th>17</th>
								<th>达到教学目的和要求</th>
								<td>
									<span style="margin-left: 20px"><input class="required" id="197_103" type="radio"  name="197" value="103"/><label for="197_103">优</label> </span>
									<span style="margin-left: 20px"><input class="required" id="197_104" type="radio"  name="197" value="104"/><label for="197_104">良</label> </span>
									<span style="margin-left: 20px"><input class="required" id="197_105" type="radio"  name="197" value="105"/><label for="197_105">合格</label> </span>
									<span style="margin-left: 20px"><input class="required" id="197_106" type="radio"  name="197" value="106"/><label for="197_106">差</label> </span>
									</td>
							</tr>
						</tbody>
					</table>
		
        </div>
      </div>
    </div>
  </div>
</div>