<!--navbar navbar-inverse navbar-fixed-top back-->
</div>
<script>
  $(".navbar-fixed-top").css("background","transporant");
</script>
<style>


</style>
<div style="height: 600px;">
<header class="page-header colored-background">

</header>
</div>



<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%= render 'notices/notice_list' %>
    </div>
  </div>
</div>
<div>