<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" style="text-align:center;">
      <div class="panel panel-primary filterable table_border">
        <div class="panel-heading table_new">
          <h3 class="panel-title">
            <% @coursetmp=current_user.teaching_courses if teacher_logged_in? %>
            《<%= @course.name %>》课程大纲
          </h3>
        </div>
        </br>
        <div id="button-edit">
          <% if teacher_logged_in? %>
              <% @coursetmp.each do |coursetmp| %>
                  <% if @course == coursetmp %>

                      <%= link_to "点击修改课程大纲", edit_outline_course_url(@course), class: 'btn btn-xs btn-info' %>
                      <% # = link_to "点击修改课程大纲", edit_course_url(@course), class: 'btn btn-xs btn-info' %>
                  <% end %>
              <% end %>
          <% end %>
          <%= link_to "查看课程Discuss信息", course_discuss_course_url(course_id: @course.id), class: 'btn-sm btn-danger btn_new' %>
          <%#= link_to "查看课程Discuss信息",discussions_path(course_id: @course.id), class: 'btn btn-xs btn-info' %>
          <div class="panel-body">
            <div class="table-responsive">
              <%= @course.outline %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>