<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-3 col-sm-6">
      <div class="panel panel-success table_border">
        <div class="panel-heading table_new">
          <h5 class="text-center">更改课程: <%= @course.name %></h5>
        </div>
        <div class="panel-body">
          <%= render 'courses/form' %>
        </div>
      </div>
    </div>
  </div>
</div>