/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap/theme';

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
  font-family: monospace, '宋体', Tahoma, Helvetica,
  Arial, "\5b8b\4f53", sans-serif;
}

a {
  color: #5b6baa;
}

td, th {
  color: #34383b;
}

.table {
  margin-bottom: 10px;
}

.table-striped > tbody > tr:hover > td.has_hover {
  background-color: #C0C0C0;
}

footer {
  background-color: #555;
  color: white;
  padding: 10px;
}

.body-background {
  //background-images: images-url('bg.jpg');
  background-color: white;
  //background-repeat: no-repeat;
  //background-size: 100% 100%;
}

.login_backgroung {
  background-color: #97c65e;
}

body {
  overflow-x: hidden;
  padding-top: 80px;
}

html {
  height: 100%;
}

.login_box .panel {
  //background: rgba(45,45,45,.15);
  border: 100px solid transparent;
}

.login_body {
  vertical-align: middle;
}

.loginin_page_container {
  width: 350px;
  height: auto;
  margin: 120px auto;
  padding: 0;
  text-align: left;

}

.loginin_input {

  text-decoration: none;
  width: 100%;
  height: 42px;
  margin-top: 25px;
  padding: 0 15px;
  //background: rgba(45,45,45,.15);

}

.my_course_list_bg {
  background-color: white;
}

.change_color {
  color: white;
  background: #97c65e;
}

.change_btn_style {
  background-color: #f7ce00;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 15px;
  margin-top: 10px;
  margin-left: auto;
  margin-bottom: 10px;
  padding: 0 71px;
  line-height: 1;
  padding-top: 8px;
  padding-bottom: 14px;

}

.change_input_style {
  background-color: #f8f8f8;
  border-radius: 6px;
  border: solid 1px #e5e5e5;
  color: rgba(45, 45, 45, .15);
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
  font-size: 14px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .1);

}

.width {
  width: 100%;
  border-radius: 15px !important;
  background-color: transparent;
}

.margin {
  margin-top: 20px;
}

.change_font {
  font-size: 15px;
}

.gn-menu-main,
.gn-menu-main ul {
  margin: 0;
  padding: 0;
  background: #34383b !important;
  color: #34383b !important;
  list-style: none;
  text-transform: none;
  font-weight: 300;
  font-family: 'Lato', Arial, sans-serif;
  line-height: 50px;
  //padding-left: 5px;
  font-size: 14px;

}

.gn-menu-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  font-size: 13px;
}

.gn-menu-main a {
  display: block;
  height: 100%;
  color: #fcf8e3;
  text-decoration: none;
  cursor: pointer;
}

.no-touch .gn-menu-main a:hover,
.no-touch .gn-menu li.gn-search-item:hover,
.no-touch .gn-menu li.gn-search-item:hover a {
  background: #97c65e;
  color: white;
}

.gn-menu-main > li {
  display: block;
  float: left;
  height: 100%;
  border-right: 1px solid #c6d0da;
  text-align: center;
}

/* icon-only trigger (menu item) */

.gn-menu-main li.gn-trigger {
  position: relative;
  width: 60px;
  //padding:20px;
  //-webkit-touch-callout: none;
  //-webkit-user-select: none;
  //-khtml-user-select: none;
  //-moz-user-select: none;
  //-ms-user-select: none;
  //user-select: none;
}

.gn-menu-main > li:last-child {
  float: right;
  border-right: none;
  border-left: 1px solid #c6d0da;
}

.gn-menu-main > li > a {
  //padding: 0 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.gn-menu-main:after {
  display: table;
  clear: both;
  content: "";
}

.gn-menu-wrapper {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 60px;
  border-top: 1px solid #c6d0da;
  background: transparent;
  -webkit-transform: translateX(-60px);
  -moz-transform: translateX(-60px);
  transform: translateX(-60px);
  -webkit-transition: -webkit-transform 0.3s, width 0.3s;
  -moz-transition: -moz-transform 0.3s, width 0.3s;
  transition: transform 0.3s, width 0.3s;
}

.gn-scroller {
  position: absolute;
  overflow-y: scroll;
  width: 370px;
  height: 100%;
}

.gn-menu {
  border-bottom: 1px solid #c6d0da;
  text-align: left;
  font-size: 18px;
  background: transparent;
}

.gn-menu li:not(:first-child),
.gn-menu li li {
  box-shadow: inset 0 1px #c6d0da
}

.gn-submenu li {
  overflow: hidden;
  height: 0;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}

.gn-submenu li a {
  color: rgba(232, 232, 232, 0.73)
}

input.gn-search {
  position: relative;
  z-index: 10;
  padding-left: 60px;
  outline: none;
  border: none;
  background: transparent;
  color: #97c65e;
  font-weight: 300;
  //font-family: 'Lato', Arial, sans-serif;
  cursor: pointer;
}

/* placeholder */

.gn-search::-webkit-input-placeholder {
  color: #97c65e
}

.gn-search:-moz-placeholder {
  color: #97c65e
}

.gn-search::-moz-placeholder {
  color: #97c65e
}

.gn-search:-ms-input-placeholder {
  color: #97c65e
}

/* hide placeholder when active in Chrome */

.gn-search:focus::-webkit-input-placeholder,
.no-touch .gn-menu li.gn-search-item:hover .gn-search:focus::-webkit-input-placeholder {
  color: transparent
}

input.gn-search:focus {
  cursor: text
}

.no-touch .gn-menu li.gn-search-item:hover input.gn-search {
  color: white
}

/* placeholder */

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-webkit-input-placeholder {
  color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-moz-placeholder {
  color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-moz-placeholder {
  color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-ms-input-placeholder {
  color: white
}

.gn-menu-main a.gn-icon-search {
  position: absolute;
  top: 0;
  left: 0;
  //height: 100%;
  //width: 100%;
}

.gn-icon::before {
  display: inline-block;
  width: 64px;
  text-align: left;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

.gn-menu a > span {
  padding: 22px;
}

/* if an icon anchor has a span, hide the span */

.gn-icon span {
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
}

.gn-icon-menu::before {
  vertical-align: -5px;
  width: 20px;
  height: 3px;
  background: white;
  box-shadow: 0 3px rgba(0, 0, 0, 0.05), 0 -6px white, 0 -9px rgba(0, 0, 0, 0.05), 0 -12px white;
  content: '';
}

.gn-icon-menu:hover::before,
.gn-icon-menu.gn-selected:hover::before,
.gn-icon-menu.gn-selected::before {
  background: white;
  box-shadow: 0 3px rgba(0, 0, 0, 0.05), 0 -6px #fff, 0 -9px rgba(0, 0, 0, 0.05), 0 -12px #fff;
}

/* styles for opening menu */

.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

.gn-menu-wrapper.gn-open-all {
  width: 200px
}

.gn-menu-wrapper.gn-open-all .gn-submenu li {
  height: 60px
}

@media screen and (max-width: 422px) {
  .gn-menu-wrapper.gn-open-all {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    width: 100%;
  }

  .gn-menu-wrapper.gn-open-all .gn-scroller {
    width: 130%
  }
}

.change_bg_font {
  background-color: #34383b;
}

#notice_detail {
  padding: 10px;
}

#notice_detail .notice_head {
  padding-bottom: 9px;
  margin-bottom: 26px;
  border-bottom: 1px dashed #E7E7E7;
}

#notice_detail .notice_head span {
  margin-right: 10px;
}

.file_style {
  position: relative;
}

.file_style .fileInput {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 189px;
  height: 30px;

}

.file_style .fileText {
  height: 30px;
  border: 1px solid #cdcdcd;
  width: 130px;
  background: rgba(198, 211, 205, 0.5);
}

.file_style .btn {
  border: 1px solid #cdcdcd;
  background: rgba(198, 211, 205, 0.5);
  height: 31px;
  margin-top: -2px;
  color: black;
}

#side_course_table {
  height: 483px;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}

.sideDiv_content {
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
  height: 100%;
  left: 40px;
  position: absolute;
  top: 0;
  width: 100%;
  padding-left: 16px;
}

.side_course_table_ctrlBlock {
  cursor: pointer;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 26px;
  z-index: 50;
}

.side_course_table_ctrlBlock #course_table_slide_in_button {
  background: image_url("/images/side_course_table_button.png") repeat scroll left top rgba(0, 0, 0, 0);
  height: 85px;
  margin-top: 222px;
  position: absolute;
  left: 40px;
  top: 0;
  width: 16px;
}

.side_course_table_ctrlBlock #course_table_slide_in_button:hover {
  background: image_url("/images/side_course_table_button_hover.png") repeat scroll left top rgba(0, 0, 0, 0);
}

.alert_bar {
  background-color: #97c65e;
  color: white;
}

.padding {
  padding-bottom: 24px;
}

.table_new {
  border-color: #97c65e;
  background-color: #97c65e !important;
  background-image: none !important;
  color: white !important;
}

.table_border {
  border-color: #97c65e !important;
}

.table_new_blue {
  background-color: #5b6baa !important;
  background-image: none !important;
  color: white !important;
}

.table_border_blue {
  border-color: #5b6baa;
}

.table_borer_trans {
  border-color: transparent !important;
}

.btn_new {
  background-color: #5b6baa !important;
  background-image: none !important;
  color: white;
  border: transparent;
}

.btn_new_close {
  background-color: #f7ce00 !important;
  background-image: none !important;
  color: white;
  border: transparent;
}

.btn_new_del {
  background-color: #d1547e !important;
  background-image: none !important;
  color: white;
  border: transparent;
}

.btn_new_cancel {
  background-color: #96c65e !important;
  background-image: none !important;
  color: white;
  border: transparent;
}

.font_size {
  font-size: 15px;
}

ul.gn-submenu li span {
  padding-left: 40px;
}

.colored-background {
  background: image_url('/images/index_nav_bg.jpg') no-repeat 50% 20%;
  height: 450px;
}

.page-header {
  margin: 0 !important;
  margin-top: -49px !important;
  position: relative;
  padding: 160px 0 139px 0;
  border-bottom: none;
}

.page-header:before, .page-head-image:before, .carousel .carousel-inner .item:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  content: '';
  opacity: 0.3;
  z-index: 2;
  background-color: #333333;
}

#instruction {
  padding-left: 60px;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  overflow: hidden;
}

section:nth-of-type(odd) {
  background: #f4f4f4;
}

section h1 {
  font-family: "Microsoft YaHei UI", sans-serif;
}

section h6 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 10px;
  font-style: italic;
}

section p.lead {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  margin-top: 40px;
}

.visualization {
  max-width: 400px;
}

.visualization .coeff .dot {
  fill: hsla(207, 63%, 27%, 0.2);
}

.visualization .coeff.last .dot {
  fill: hsla(207, 63%, 27%, 1.0);
}

.visualization .coeff .circle {
  fill: none;
  stroke: hsl(0, 0%, 70%);
}

.visualization .coeff.first .circle {
  fill: none;
  stroke: hsl(0, 0%, 30%);
}

.visualization .coeff.last .circle {
  display: none;
}

.visualization .graph {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}

.visualization .trace {
  fill: none;
  stroke: steelblue;
}

.visualization .proj {
  fill: none;
  stroke: #000;
}

.visualization .axis {
  stroke: hsl(0, 0%, 70%);
}

footer {
  background-color: #282e33;
  padding-top: 80px;
  padding-bottom: 80px;
}

footer h2 {
  opacity: 0.5;
  color: #fff;
}

footer p, footer a, footer a:hover {
  opacity: 0.8;
  color: #eee;
}

footer .footer-header {
  font-size: 30px;
  color: #eee;
  opacity: 0.6;
}

footer .fa {
  font-size: 36px !important;
}

.copyright {
  opacity: 0.5;
  color: #fff;
  font-size: 12px;
  margin-top: 50px;
}

.copyright a {
  color: #aaa;
  font-weight: 600;
}

.calendar {
  box-shadow: 0 1px 10px #777777;
  width: 220px;
  background: rgba(238, 238, 238, 0.91);
  transform: rotate(1deg);
}