<br>
<div class="container">

  <% flash.each do |message_type, message| %>
      <% if params[:controller] !="homes" %>
          <div class="alert alert-<%= message_type %>">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong> <%= message %></strong>
          </div>
      <% else %>
          <script>alert("<%= message %>");</script>
      <% end %>
  <% end %>
</div>

<div class="container" style="min-height:470px" id="main_container">
  <%= yield %>
</div>


